.experience{
    background-color: #ffffff;
   text-align: center;
}
.meets{
    margin-top: 2%;
   font-size: 20px;
   font-family: Domine;
   color: #01CAFF;
}
.group1{
    width: 900px;
    height: 399px;
}