.app{
  height: 100vh;
}
.sections{
  width: calc(100vh -70px);
  height: auto;
  background-color: #ffffff;
  top: 70px;
  scroll-snap-type: y mandatory;
}
.sections>*{
  width: 100vw;
  width: calc(100vh -70px);
}

